[submodule "yolov5"]
	path = yolov5
	url = https://hub.fastgit.xyz/ultralytics/yolov5.git

[submodule "deep_sort/deep/reid"]
	path = deep_sort/deep/reid
	url = https://hub.fastgit.xyz/KaiyangZhou/deep-person-reid
